.dps-card__dots {
  display: flex;
  justify-content: flex-end;
}

.dps-card__head {
  /* margin-top: auto; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.dps-card__icon {
  max-width: 6rem;
}

.dps-grid--info_right .dps-card__icon {
  margin-left: auto;
}

.dps-card__title {
  font-weight: 900;
  text-transform: uppercase;
  margin: 3rem 0 7rem 0;
  color: rgb(var(--color-button));
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.dps-item__card {
  display: flex;
  border-radius: 12px;
  overflow: hidden;

}

.dps-card {
  height: calc(100% - 2rem);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: auto 0;

}


.dual-product-slider {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dps-item ul {
  margin-bottom: 0rem;
  margin-top: 0rem;
  --desktop-margin-left-first-item: 0rem;
}

.dps-item ul li {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  margin: 0rem !important;
}

@media screen and (min-width: 990px) {
  .dps-grid {
    display: grid;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
    grid-template-columns: calc(25% - 2.7rem / 2) calc(75% - (2.7rem / 2));
    gap: 2.7rem;
  }

  .dps-grid--info_right {
    grid-template-columns: calc(75% - (2.7rem / 2)) calc(25% - (2.7rem / 2));
    gap: 2.7rem;
  }

  .dps-item .slider--desktop:after {
    margin-left: calc(-5rem - var(--grid-desktop-horizontal-spacing));
  }

  .dps-item .slider--desktop.grid--3-col-desktop>.grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 3 - var(--grid-desktop-horizontal-spacing) * 0);
  }

  .dps-item__card >div{
    border: 1px solid #E6E6E6;
  }
}

.dps-item .product-card-wrapper .card--card {
  border: 1px solid #E0E0E0 !important;
  border-radius: 16px;
}

.dps-item .product-card-wrapper .card__heading.h5 {
  font-weight: 600;
  font-size: 1.6rem;
}

/* Typing Effect Styles */
typing-effect {
  display: inline-block;
  position: relative;
}

.typing-text {
  display: inline;
}

.typing-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.8s step-end infinite;
  font-weight: 400;
  color: currentColor;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

/* Smooth rendering for better typography */
typing-effect,
.typing-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.slider-buttons-secondary__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 4.7rem);
  transform: translate(-50%, -50%);

}

.slider-buttons-secondary__wrap .slider-button {
  outline: 3px solid #FFFCF9;
}

.slider-buttons-secondary__wrap .slider-button:not(:disabled):not(:hover) {
  background: rgb(var(--color-button));
}

.slider-buttons-secondary__wrap .slider-button:disabled {
  background: rgb(var(--color-button));
}

.slider-buttons-secondary__wrap .slider-button .svg-wrapper {
  width: 3.8rem;
  height: 3rem;
}

.slider-buttons-secondary__wrap .slider-button .icon {
  height: 8px;
}

.dps-grid--info_right>div:first-child {
  order: 2;
}

.dps-grid--info_right .dps-card {
  text-align: right;
}

.dual-product-slider--section {
  overflow: hidden;
}

.dual-product-slider--section .page-width {
  --page-width: 141.3rem;
}

.dual-product-slider--section>div {
  border: 1px solid #E6E6E6;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  border-radius: 12px;
}

.dual-slider-product-head>.title {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

@media screen and (max-width: 990px) {
  .dps-card {
    padding: 1.2rem;
    border-radius: 0px;
  }

  .dps-card__title {
    text-align: left;
    width: fit-content;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
    --font-size: calc(var(--font-heading-scale) * 4.4rem);
  }

  .dps-grid--info_left .slider-buttons-secondary,
  .dps-card__description {
    display: none;
  }

  .dps-grid--info_left .dps-card__dots {
    display: none;
  }

  .dps-card {
    padding-top: 2rem;
    width: 100%;
  }

  .dps-card__icon {
    max-width: 4rem;
  }

  .dps-block {
    border: 1.1px solid #E6E6E6;
    background: #F8EDED;
    border-radius: 12px;
  }

  .dps-grid--info_left .slider {
    display: grid !important;
    grid-auto-flow: column;
    grid-auto-columns: 85%;
    grid-template-rows: repeat(2, auto);
    overflow-x: auto !important;
    scroll-snap-type: x mandatory;
    gap: 1.3rem;
    row-gap: 0rem;
  }

  .dps-grid--info_left .slider__slide {
    width: 100% !important;
    height: auto !important;
    scroll-snap-align: start;
  }

  .dps-grid--info_left .grid__item {
    flex: none !important;
  }

  .dual-product-slider--section>div {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .dps-grid--info_left .dps-item__products {
    padding: 0 1.2rem;
  }

  .grid--peek.slider:after {
    content: none;
  }

  .dps-grid--info_right .dps-item__products {
    padding: 0 1.2rem;
  }

  .dual-product-slider--section>div {
    border: 0px;
    margin: 0rem;
  }

  .dps-grid--info_right .dps-card__dots {
    justify-content: flex-start;
  }

  .dps-grid--info_right .dps-card__icon {
    width: 100%;
    margin-top: 1rem;
  }

  .dps-grid--info_right .dps-card__title {
    width: fit-content;
    margin-left: auto;
    max-width: 20rem;
    text-align: right;
    --font-size: calc(var(--font-heading-scale) * 4.4rem);
  }

}