.notice-board__header {
  margin-bottom: 6.5rem;
  padding-top: 5rem;
}

.notice-board__header h2 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}

.notice-board__header p {
  text-transform: uppercase;
  color: #FF4411;
  font-weight: 800;
  margin: 0rem;
}

.notice-board__item-wrapper {
  position: relative;
  opacity: 0;
  transform: translateY(-100px) rotate(var(--initial-rotation, 0deg));
}

.notice-board__item-wrapper.animate {
  animation: pinDrop 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.notice-board__item-wrapper:nth-child(odd) {
  --initial-rotation: -12deg;
}

.notice-board__item-wrapper:nth-child(even) {
  --initial-rotation: 10deg;
}

.notice-board__item-wrapper.animate {
  animation-delay: calc(var(--item-index, 0) * 0.2s);
}

@keyframes pinDrop {
  0% {
    opacity: 0;
    transform: translateY(-100px) rotate(var(--initial-rotation, 0deg));
  }

  60% {
    transform: translateY(10px) rotate(calc(var(--initial-rotation, 0deg) * 0.3));
  }

  80% {
    transform: translateY(-5px) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}


.notice-board__card-left {
  padding: 2.5rem;
  box-shadow: 0px 8.83px 8.83px 0px #1E1E1E1F;
  border: 1.1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4.42px;
  z-index: 1;
}

.notice-board__icon {
  width: 100%;
  max-width: 5rem;
}

.notice-board__heading {
  color: #FF4411;
}

.notice-board__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.notice-board__grid>div:nth-child(even) .notice-board__card-left {
  order: 2;
}

.notice-board__pin {
  position: absolute;
  top: -2rem;
  left: calc(50% - 1.6rem);
  transform: translateX(-50%);
  max-width: 8.5rem;
  width: 100%;
  z-index: 2;
  transform-origin: center bottom;
}

.notice-board__item-wrapper:hover .notice-board__pin {
  animation: pinWiggle 0.5s ease-in-out;
}

@keyframes pinWiggle {

  0%,
  100% {
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    transform: translateX(-50%) rotate(-8deg);
  }

  75% {
    transform: translateX(-50%) rotate(8deg);
  }
}

.notice-board__image {
  box-shadow: 0px 19.88px 8.11px 0px #1E1E1E33;
}

.notice-board__card-right img {
  padding: 0.7rem;
  background: white;
  outline: 1px solid #00000080;
  outline-offset: -0.7rem;
}

.notice-board__item {
  max-width: 59rem;
  margin: 0 auto;
}

.notice-board__description {
  margin-top: auto;
  margin-bottom: 0rem;
  color: rgba(30, 30, 30, 0.8);
  max-width: 21rem;
  font-weight: 500;
}

.notice-board__grid>div:nth-child(odd) .notice-board__card-right {
  transform: rotate(-4.45deg);
  left: 1rem;
  top: -1rem;
  position: relative;
}

.notice-board__grid>div:nth-child(even) .notice-board__card-right {
  transform: rotate(4.45deg);
  right: 1rem;
  top: -1rem;
  position: relative;
}

.notice-board__grid {
  row-gap: 11.5rem;
}

.notice-board__inner {
  background: var(--background-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(230, 230, 230, 1);
  padding-bottom: 17.5rem;
  border-radius: 24px;
  border: 1px solid #E6E6E6;
}

.notice-board__grid {
  zoom: 0.98;
}

.notice-board__container {
  padding: 0 2.5rem;
}

@media screen and (min-width: 750px) {
  .notice-board__grid .notice-board__item-wrapper:nth-child(2) {
    padding-top: 8.5rem;
  }

  .notice-board__grid .notice-board__item-wrapper:nth-child(3) {
    margin-top: -8.5rem;
  }

  .notice-board__header h2 {
    font-size: calc(var(--font-heading-scale) * 4.1rem);
  }
}

@media screen and (max-width: 750px) {
  .notice-board__container {
    /* padding-top: 3.5rem; */
  }

  .notice-board__header {
    padding-top: 3.5rem;
  }

  .notice-board__header p {
    --font-size: 1.8rem;
  }

  .notice-board__card-left {
    padding: 1rem;
  }

  .notice-board__card-left {
    /* min-height: 26.2rem; */
  }

  .notice-board__description {
    --font-size: 1.3rem;
    --letter-spacing: calc(var(--font-size) * (-2 / 100));
    margin-top: 5rem;
  }

  .notice-board__heading {
    font-size: 1.8rem;
    margin-top: 1.8rem;
  }

  .notice-board__icon {
    max-width: 3rem;
  }

  .notice-board__card-right {
    max-width: 16.5rem;
  }

  .notice-board__grid {
    padding: 12px;
  }

  .notice-board__grid>div:nth-child(odd) .notice-board__card-right {
    left: -1rem;
    z-index: 1;
    top: -0.2rem;
    transform: rotate(-2deg);
  }

  .notice-board__grid>div:nth-child(even) .notice-board__card-right {
    right: -1rem;
    z-index: 1;
    transform: rotate(2deg);
  }


  .notice-board__grid>div:nth-child(even) .notice-board__heading {
    text-align: right;
  }

  .notice-board__grid>div:nth-child(even) .notice-board__icon {
    margin-left: auto;
  }

  .notice-board__pin {
    max-width: 5rem;
    z-index: 3;
  }

  .notice-board__card-left {
    z-index: 0;
  }

  .notice-board__grid {
    row-gap: 5.5rem;
  }

  .notice-board__inner {
    padding-bottom: 5.9rem;
  }

  .notice-board__grid>div:nth-child(even) .notice-board__card {
    grid-template-columns: 44.52% 57.03%;
  }

  .notice-board__grid>div:nth-child(odd) .notice-board__pin {
    left: calc(56% - 1.6rem);
    top: -1rem;
  }

  .notice-board__grid>div:nth-child(even) .notice-board__pin {
    left: calc(44% - 1.6rem);
    top: -1rem;
  }

  .notice-board__grid>div:nth-child(odd) .notice-board__card {
    grid-template-columns: 57.03% 44.52%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 749px) {
  .notice-board__grid {
    --grid-desktop-horizontal-spacing: 5rem;
  }
}