.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info> :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.3rem 3rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card>.multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}

/* DEFAULT STYLE ENDS HERE */


/* PRIMARY STYLE STARTS HERE */
.multicolumn--prime .multicolumn-card__image-wrapper {
  margin: 0rem;
  padding: 1.4rem 1.4rem 0 1.4rem;
  border-radius: 20px;
}

.multicolumn--prime.multicolumn.background-primary .multicolumn-card {
  background: white;
  box-shadow: 0px 24px 16px 0px #67476F0F;
  border-radius: 20px;
}

.multicolumn--prime.multicolumn.background-primary .multicolumn-list {
  --grid-desktop-horizontal-spacing: 20px;
}

.multicolumn--prime .multicolumn-list {
  transform: translateY(var(--position-y));
}

.multicolumn--prime .multicolumn-list .multicolumn-card__info h3 {
  font-weight: 700;
  --font-size: calc(var(--font-heading-scale) * 3rem);
  letter-spacing: calc(var(--font-size) * (-2 / 100));
  max-width: var(--max-width);
  line-height: 36.98px;
}

.multicolumn--prime .multicolumn-list .multicolumn-card__info .rte {
  max-width: var(--max-width);
  margin-bottom: 3rem;
  margin-top: 2rem;
  height: fit-content;
  color: #43234C;
}

.multicolumn--prime .multicolumn-card__info {
  display: flex;
  flex-direction: column;
}

.multicolumn--prime .multicolumn-card__info a {
  margin-top: auto;
  zoom: 1.1;
}

.multicolumn--prime .multicolumn-card.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.multicolumn--prime .multicolumn-card__info {
  height: 100%;
}

@media screen and (max-width: 749px) {
  .multicolumn--prime.multicolumn.background-primary .multicolumn-card{border: 1px solid #1E1E1E;max-width: 34.7rem;margin-left: auto;margin-right: auto;}
  .multicolumn--prime.multicolumn.background-primary .multicolumn-list { --grid-mobile-vertical-spacing: 40px; }
  .multicolumn--prime .multicolumn-list:not(.slider){padding-left: 4.5rem;padding-right: 4.5rem;}
  .multicolumn--prime .multicolumn-card__image-wrapper{padding: 0.9rem 0.9rem 0 0.9rem;}
  .multicolumn--prime .multicolumn-card__image-wrapper > div{border: 0.88px solid rgba(30, 30, 30, 1);border-radius: 12px;}
}

.multicolumn--prime{
  --page-width: 146.7rem;
}


/* MULTICOLUMN LOGOS */
.multicolumn--logos .title-wrapper-with-link{text-align: center;justify-content: center;gap: 0rem;flex-direction: column;margin-bottom: 4rem;align-items: center;margin-bottom: 5.5rem;}
.multicolumn--logos .title-wrapper-with-link h2{color: rgb(var(--color-button));text-align: center;}
.multicolumn--logos .title-wrapper-with-link p{max-width: 75rem;margin-left: auto;margin-right: auto;color: rgba(30, 30, 30, 0.8);margin-top: 2.4rem;}
.multicolumn--logos .multicolumn-card__info{padding: 1.2rem 0 0 0 !important;}
.multicolumn--logos .multicolumn-card__info h3 {--font-size: 1.6rem;}
.multicolumn--logos .multicolumn-card__info h3 strong{font-weight: 700;}
.multicolumn--logos .slider-dots__container{margin-top: 4.5rem;}
.multicolumn--logos .multicolumn-list__item{--desktop-margin-left-first-item: 0rem;}
.multicolumn--logos .slider--desktop:after{margin-left: -5rem;}
.multicolumn--logos{margin-left: 1.5rem;margin-right: 1.5rem;border-radius: 24px;border: 1px solid #E6E6E6;}
.multicolumn--logos .multicolumn-list{padding-left: 3rem;padding-right: 3rem;}
.multicolumn-float__image{position: absolute;top: 0;left: 0;width: 100%;max-width: 29.4rem;}

@media screen and (min-width: 749px) {
  .multicolumn--logos .multicolumn-card__image-wrapper--half-width{max-width: 129px;width: 100%;}
  .multicolumn--logos .slider-buttons--cs-wrap{max-width: calc(100% + 3.2rem);}
  .multicolumn--logos .slider-buttons--cs-wrap .slider-button--round{width: 6.4rem;height: 6.4rem;}
  .multicolumn--logos .multicolumn-list{max-width: 134.1rem;margin-left: auto;margin-right: auto;padding: 0rem;}
  .multicolumn--logos{margin-left: 2.5rem;margin-right: 2.5rem;}
}

@media screen and (max-width: 749px) {
  .multicolumn--logos .title-wrapper-with-link{max-width: 38rem;margin-left: auto;margin-right: auto;}
  .multicolumn--logos .title-wrapper-with-link p{--font-size: 1.3rem;margin-top: 1.2rem;}
  .multicolumn--logos{margin-left: 2rem;margin-right: 2rem;}
  .multicolumn--logos .grid--1-col-tablet-down .multicolumn-list__item{width: 100% !important;max-width: 100% !important;}
  .multicolumn--logos .slider--tablet.grid--peek{padding: 0rem !important;}
  .multicolumn--logos slider-component{padding: 0rem 0rem 1rem 1rem;}
  .multicolumn--logos .grid--peek.slider .grid__item:first-of-type{margin: 0rem;}
  .multicolumn--logos .slider--desktop:after{margin-left: -1.4rem;}
  .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item, .grid--peek .grid__item{width: calc(50% - var(--grid-mobile-horizontal-spacing));}
  .slider--tablet.grid--peek.grid--2-col-tablet-down {scroll-padding-left: 0rem;}
  .multicolumn-float__image{max-width: 131px;}
  .multicolumn--logos .multicolumn-card__info h3{--font-size: 1.3rem;}
  .multicolumn--logos .slider-dots__container{margin-top: 3rem;}
  .multicolumn--logos .title-wrapper-with-link{margin-bottom: 3rem;}
  /* .multicolumn--logos .multicolumn-list{display: grid;grid-auto-columns: calc(50% - 1rem);grid-template-rows: repeat(2, auto);grid-auto-flow: column;gap: 1.5rem 2rem;overflow-x: auto;scroll-snap-type: x mandatory;-webkit-overflow-scrolling: touch;padding-bottom: 1rem;}
  .multicolumn--logos .multicolumn-list .multicolumn-list__item{width: 100% !important;max-width: 100% !important;scroll-snap-align: start;}
  .multicolumn--logos .multicolumn-list::-webkit-scrollbar{display: none;}
  .multicolumn--logos .multicolumn-list{-ms-overflow-style: none;scrollbar-width: none;} */
  .multicolumn--prime .multicolumn-card__info{padding: 1.5rem 2rem;}
  .multicolumn--prime .multicolumn-list .multicolumn-card__info h3{--font-size: calc(var(--font-heading-scale) * 2.6rem);}
  .multicolumn--prime .multicolumn-list .multicolumn-card__info .rte{--font-size: 1.6rem;margin-top: 1.3rem;}
}