.store-locater-section-wrapper {
  max-width: 117.6rem;
  margin: 0 auto;
}

.store-locater__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.store-locater__map-image>div,
.store-locater__map-image img,
.store-locater__map-image {
  height: 100%;
}

.store-locater__list>div:not(:last-child) {
  margin-bottom: 4.8rem;
}

.store-locater__details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.store-locater__name {
  margin-bottom: 0rem;
  margin-top: 2.5rem;
}

.store-locater__button {
  margin-top: auto;
}

.store-locater__address {
  margin-top: 1rem;
  margin-bottom: 2.1rem;
  line-height: 128%;
  color: rgba(30, 30, 30, 0.8);
}

.store-locater__phone,
.store-locater__hours {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 1rem;
}

.store-locater__hours svg,
.store-locater__phone svg {
  height: 1.8rem;
  width: fit-content;
}

.store-locater__icon {
  max-width: 2.4rem;
  display: flex;
}

.store-locater__address {
  max-width: 25rem;
}

.store-locater__button {
  --font-size: 1.2rem;
  font-size: var(--font-size);
  --letter-spacing: calc(var(--font-size) * (-1 / 100));
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;

}

@media screen and (min-width: 990px) {
  .store-locater__item {
    display: grid;
    grid-template-columns: 32.65% 65.64%;
    gap: 1.8rem;
  }

  .store-locater__info {
    border: 1px solid #1E1E1E1F;
    padding: 3rem;
    border-radius: 2.4rem;
    background: rgba(30, 30, 30, 0.03);
    height: 100%;
  }

  .store-locater__map {
    border-radius: 24px;
    border: 1px solid rgba(230, 230, 230, 1);
    overflow: hidden;
  }
}

@media screen and (max-width: 990px) {
  .store-locater__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: rgba(30, 30, 30, 0.03);
    border: 1px solid rgba(30, 30, 30, 0.12);
    border-radius: 2.4rem;
    padding: 3rem;
  }

  .store-locater__address {
    --font-size: 1.8rem;
  }

  .store-locater__hours {
    --font-size: 1.6rem;
  }

  .store-locater__map>a {
    margin-top: 2.5rem;
  }

  .store-locater__name {
    --font-size: 2rem;
  }

  .store-locater__map>div {
    border-radius: 24px;
    border: 1px solid rgba(230, 230, 230, 1);
    overflow: hidden;
  }
}

@keyframes float-up-down {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.float-images-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  pointer-events: none;
  z-index: -1;
}

.float-images-list>div {
  max-width: 3.7rem;
  position: relative;
  width: 100%;
  height: auto;
  animation: float-up-down 3s ease-in-out infinite;
}

.float-images-list>div:first-child {
  align-self: flex-end;
  top: 10%;
  right: 3.5rem;
}

.float-images-list>div:nth-child(2) {
  align-self: flex-start;
  top: -15%;
  left: 3.5rem;
  animation-delay: 0.5s;
}

.float-images-list>div:last-child {
  max-width: 5.7rem;
  align-self: flex-end;
  right: 3.5rem;
  animation-delay: 1s;
  bottom: 33%;
}

.store-locater{background: rgb(var(--color-background));}